<div class="box">
    <h1>Contact Us</h1>
    <form>
        <div class="left">
            <input type="text" id="full-name" placeholder="Name">
            <input type="text" id="email" placeholder="Emal">
            <input type="text" id="subject" placeholder="Subject">
        </div>
        <div class="right">
            <input type="textarea" id="message" placeholder="Message">
        </div>
        
        <input type="submit" id="send" value="Send email">
    </form>
    <div class="feedback"></div>
</div>
